--enable \
	acronyms,\
	blankLinesBetweenImports,\
	blockComments,\
	isEmpty,\
	noExplicitOwnership,\
	organizeDeclarations,\
	redundantProperty,\
	unusedPrivateDeclarations,\
	wrapMultilineConditionalAssignment,\

--acronyms "ID,OS,URL,UUID"
--condassignment always
--fractiongrouping enabled
--header "\n{file}\nGenius\n\n© {created.year} F1248 <f1248@mailbox.org>\nSee LICENSE.txt for license information.\n"
--indent tab
--languagemode 6
--markcategories false
--maxwidth 128
--organizationmode type
--ranges no-space
--self init-only
--semicolons never
--shortoptionals always
--typeblanklines preserve
--xcodeindentation enabled
