--enable \
    acronyms,\
    blankLinesBetweenImports,\
    blockComments,\
    docComments,\
    isEmpty,\
    markTypes,\
    noExplicitOwnership,\
    organizeDeclarations,\
    redundantProperty,\
    sortSwitchCases,\
    wrapEnumCases,\
    wrapMultilineConditionalAssignment,\

--markcategories false
--nospaceoperators ..<
--organizationmode type
--self init-only
--typeblanklines preserve
