<?xml version="1.0" encoding="UTF-8"?>
<!--
© 2024 F1248 <f1248@mailbox.org>
See LICENSE.txt for license information.
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://f1248.github.io/Genius/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>VqOkHCBr7tNBlPwsgy4FPGAA9xC0JiDs0L11xHC0w5k=</string>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
